@font-face {
    font-family: "Quicksand";
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}

* {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --blue-primary: #3a7bd5;
    --blue-light: #a4caff;
    --blue-dark: #104ea4;
    --white: white;
    --gray: rgb(200, 200, 200);
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.header {
    padding: 20px;
    margin: 10px;
    background-color: var(--blue-primary);
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--blue-light);
    color: var(--white);
}

.content {
    padding: 15px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--blue-light);
    color: var(--blue-primary);
    line-height: 2;
    width: auto;
}

.gap {
    margin-top: 8px;
    margin-bottom: 8px;
}

.content .gap h4 {
    margin-bottom: 0;
}

.content .gap #textQR {
    width: 90%;
    height: 20px;
    border-radius: 10px;
    padding: 6px;
    border: 1px solid var(--blue-primary);
}

.content .gap #textQR:focus {
    outline: 1px solid var(--blue-primary);
}

.content .gap input {
    border: 1px solid var(--blue-primary);
    border-radius: 5px;
    height: 25px;
    background-color: var(--white);
}

.content .gap input {
    accent-color: var(--blue-primary);
    border-color: var(--blue-primary);
}

.content .gap button {
    margin-top: 20px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: bold;
    border: 0;
    padding: 8px;
    transition: all 0.25s ease-in-out;
}

#QRCodeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#QRCodeContainer canvas {
    display: none;
}

#QRCodeContainer img {
    max-width: 225px;
}

#downloadButton {
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: bold;
    border: 0;
    padding: 8px;
    transition: all 0.25s ease-in-out;
}

.footer {
    padding: 5px;
    margin: 10px;
    background-color: var(--blue-primary);
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--blue-light);
    color: var(--white);
}

a {
    color: var(--white);
}

a:hover {
    color: var(--gray);
}

@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}