@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --blue-primary: #0070D7;
    --blue-secondary: #0084ff;
    --white: #ffffff;
}

::selection {
    background-color: var(--blue-secondary);
    color: var(--white);
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue-primary);
    border: 2px var(--white) solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-primary);
}

.preloader {
    padding: 24px;
    align-items: center;
    background: var(--blue-primary);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
}

.preloader img {
    width: 100%;
    max-width: 256px;
    animation: preloader 2s ease-out;
}

@keyframes preloader {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
}


.animasi-standar {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}

.animasi-standar.gulir-standar {
    transform: translateY(0px);
    opacity: 1;
}

.animasi-kartu {
    opacity: 0;
    transition: all 0.5s;
}

.animasi-kartu.gulir-kartu {
    opacity: 1;
}

.animasi-beranda {
    animation: animasi-beranda 0.5s ease-in-out forwards;
}

@keyframes animasi-beranda {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


.white-background {
    background-color: var(--white);
    color: var(--blue-primary);
}

.blue-background {
    background-color: var(--blue-primary);
    color: var(--white);
}

.home-page {
    position: relative;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
    line-height: 2;
}

.home-page .content-home-page {
    z-index: 1;
    text-align: center;
    opacity: 0;
}

.home-page .content-home-page .img-logo {
    width: 100%;
    max-width: 350px;
}

.home-page .ornament-home-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
}

.home-page .ornament-home-2 {
    position: absolute;
    transform: rotate(180deg);
    left: 0;
    top: 0;
    width: 100%;
    max-width: 250px;
}

.about-me-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    line-height: 2;
    text-align: center;
}

.content-about-me-page img {
    width: 100%;
    max-width: 200px;
}

.content-education-page,
.content-contact-page,
.content-sertificate-page,
.content-organization-page {
    height: 100%;
    width: 100%;
}

.main-display-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    transform-origin: top left;
    gap: 24px;
    margin: 75px 0;
}

.content-card {
    height: 100%;
    min-height: 450px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewY(10deg);
    outline: 3px var(--blue-primary) solid;
    padding: 24px;
    background-color: white;
    color: var(--blue-primary);
    transition: all 0.25s ease-in-out;
}

.white-background .content-card:hover {
    box-shadow: -10px 10px #006fd754, -20px 20px #006fd754;
}

.blue-background .content-card:hover {
    box-shadow: -10px 10px #ffffff54, -20px 20px #ffffff54;
}

.wrapping-card {
    padding: 12px;
    transform: skewY(-10deg);
}

.picture-card img {
    width: 100%;
    max-width: 225px;
}

.organization-page,
.project-page,
.sertificate-page,
.contact-page,
.education-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px 24px;
    line-height: 2;
    text-align: center;
}

.button {
    margin-top: 8px;
    padding: 8px 12px;
    border: 0;
    outline: 2px var(--blue-primary) solid;
    background-color: var(--white);
    color: var(--blue-primary);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    outline: 0;
    background-color: var(--blue-primary);
    color: var(--white);
    box-shadow: -2px 2px #006fd754, -4px 4px #006fd754;
}

footer {
    padding: 24px;
    line-height: 2;
    text-align: center;
    min-height: 50px;
}

#myBtn {
    transform: skewY(10deg);
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    outline: 3px var(--blue-primary) solid;
    border: none;
    background-color: var(--white);
    color: var(--blue-primary);
    cursor: pointer;
    padding: 15px;
    transition: all 0.25s ease-in-out;
}

#myBtn:hover {
    background-color: var(--blue-primary);
    color: var(--white);
    outline: 3px var(--white) solid;
    box-shadow: -5px 5px #006fd754, 5px -5px #006fd754, 5px 5px #ffffff54, -5px -5px #ffffff54;
}