#beranda {
    background-image: url("../picture/homePicture.png");
    min-height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    line-height: 2;
}

.content-beranda {
    color: var(--white);
    text-align: center;
}

.content-beranda>h1 {
    font-size: 50px;
}

.content-beranda>a>input[type=button] {
    margin-top: 12px;
    padding: 8px 12px;
    background-color: var(--white);
    color: var(--blue-primary);
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.25s;
}

.content-beranda>a>input[type=button]:hover {
    color: var(--white);
    background-color: var(--blue-secondary);
    outline: 2px var(--white) solid;
}