.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    line-height: 2;
}

.wrapper {
    padding: 24px;
    margin: 24px;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-primary);
    background-color: var(--white);
    text-align: center;
    box-shadow: 0 4px 20px 5px rgba(0, 141, 202, 0.25);
}

.wrapper div {
    width: 100%;
    margin-top: 10px;
}

#button {
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button input[type=button] {
    margin: 0 6px;
    padding: 8px 12px;
    background-color: var(--white);
    color: var(--blue-primary);
    font-weight: bold;
    outline: 2px var(--blue-primary) solid;
    border: 0;
    cursor: pointer;
    transition: all 0.25s;
}

#button input[type=button]:hover {
    color: var(--white);
    background-color: var(--blue-secondary);
    outline: 2px var(--blue-secondary) solid;
}

.container hr {
    border: 0;
    height: 2px;
    background-color: var(--blue-primary);
    border-radius: 5px;
    margin-bottom: 12px;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#Jawaban div {
    display: inline;
    margin: 8px 12px;
}

label {
    display: inline-block;
    background-color: var(--white);
    padding: 4px 12px;
    outline: 2px var(--blue-primary) solid;
    /* font-size: 16px; */
    border-radius: 50px;
    transition: all 0.25s;
    cursor: pointer;
}

label:hover {
    background-color: var(--blue-secondary);
    color: var(--white);
    outline: 0;
}

input[type="radio"]:checked+label {
    background-color: var(--blue-primary);
    outline: 0;
    color: var(--white);
}

@media screen and (max-width: 767px) {
    #Jawaban div {
        display: inline-block;
        margin: 8px 0;
    }
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content-all {
    background-color: #fefefe;
    width: 100%;
    max-width: fit-content;
    line-height: 2;
    box-shadow: 0 0 50px 20px rgba(205, 0, 0, 0.25);
}

.modal-content-all div {
    padding: 20px;
    padding: 12px;
    width: 100%;
    text-align: center;
}

.modal-header {
    color: white;
    background-color: rgba(205, 0, 0, 1);
}

.modal-content {
    color: rgba(205, 0, 0, 1);
    background-color: var(--white);
}

.modal-close input[type=button] {
    margin-bottom: 8px;
    padding: 8px 12px;
    background-color: var(--white);
    color: rgba(205, 0, 0, 1);
    font-weight: bold;
    outline: 2px rgb(205, 0, 0, 1) solid;
    border: 0;
    cursor: pointer;
    transition: all 0.25s;
}

.modal-close input[type=button]:hover {
    color: var(--white);
    background-color: rgba(205, 0, 0, 1);
    outline: 2px rgb(255, 0, 0, 1) solid;
}