.container {
    min-height: 80vh;
    background-color: var(--white);
    color: var(--blue-primary);
    padding: 24px;
    text-align: center;
    line-height: 2;
}

.container .content {
    width: 100%;
    text-align: justify;
}

.container hr {
    border: 0;
    height: 2px;
    background-color: var(--blue-primary);
    border-radius: 5px;
    margin-bottom: 12px;
}

ol li {
    list-style-position: inside;
}

ol li div img {
    width: 100%;
    max-width: 600px;
}